@font-face {
    font-family: "HVD_Comic_Serif_Pro";
    src: url(/client/fonts/HVD_Comic_Serif_Pro.otf) format("truetype");
}

text {
    font-family: "HVD_Comic_Serif_Pro", sans-serif;
    background: -webkit-linear-gradient(#FFBC6B, #FF8400);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}