<html>

<head>
    <title>Snake town</title>
    <link href="/client/style/main.css" rel="stylesheet" />
    <style>
        .center {
            align-content: center;
            width: 100%;
        }
    </style>
    <script src="//ulogin.ru/js/ulogin.js"></script>
</head>

<body>
    <div class="center" style="height: 33%" align="center">
        <div>
            <img src="/client/images/logo.png">
        </div>
        <div>
            <div>
                <text>login and play</text>
            </div>
            <form action="/players" method="post">
                <input type="text" name="nickname" value="username" />
                <input type="submit" value="Play" />
            </form>
            <div>
                <text>or</text>
            </div>
            <div id="uLogin"></div>
        </div>
    </div>
</body>
<script>
    var uri = new URL("players", document.URL);
    var auth_panel = document.getElementById('uLogin');
    auth_panel.setAttribute("data-ulogin", "display=panel;theme=classic;fields=first_name,last_name;providers=facebook,googleplus,vkontakte,google,liveid,linkedin;hidden=other;redirect_uri=" + encodeURI(uri) + ";mobilebuttons=0;");
</script>

</html>