<html>

<head>
    <title>Snake town</title>
    <style>
        .center {
            align-content: center;
            width: 100%;
        }
    </style>
    <link href="/client/style/main.css" rel="stylesheet" />
    <script src="/client/jsLibs/nipplejs.min.js"></script>
    <script src="/client/jsLibs/mobile-detect.min.js"></script>
</head>

<body>
    <div class="center" style="height: 33%" align="center">
        <div>
            <img src="/client/images/logo.png">
        </div>
        <div>
            <div><text style="font-size: 50px;"><a href="/game">free world</a></text></div>
            <div><text style="font-size: 50px;"><a href="/battle">battle room</a></text></div>
        </div>
    </div>
</body>

</html>